<nz-layout class="layout">
    <nz-sider
        *ngIf="estaAutenticado"
        nzCollapsible
        nzBreakpoint="lg"
        [(nzCollapsed)]="isCollapsed"
        [nzCollapsedWidth]="0">
        <app-menu [modo]="'inline'"></app-menu>
    </nz-sider>
    <nz-layout>
        <nz-header class="menu-header" *ngIf="estaAutenticado">
            <app-menu></app-menu>
        </nz-header>
        <nz-content>
            <div [class]="estaAutenticado ? 'inner-content' : ''">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>
            ©2022 Implement By Douglas Silva
        </nz-footer>
    </nz-layout>
</nz-layout>