<app-botao-cadastrar
    (abrirModal)="modalCadastrar()">
</app-botao-cadastrar>

<nz-table
    #tarifaTable
    [nzData]="listaTarifas"
    [nzFrontPagination]="false"
    [nzLoading]="carregando">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Valor/Min</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarifa of tarifaTable.data">
            <td nzAlign="center">
                <nz-row nzGutter="32">
                    <nz-col>
                        <a (click)="showModal(tarifa)">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </a>
                    </nz-col>
                    <nz-col>
                        <a (click)="modalDeletar(tarifa)">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </a>
                    </nz-col>
                </nz-row>
            </td>
            <td>{{ tarifa.id }}</td>
            <td>{{ tarifa.origem }}</td>
            <td>{{ tarifa.destino }}</td>
            <td>{{ tarifa.valorPorMin | currency:'R$' }}</td>
        </tr>
    </tbody>
</nz-table>

<nz-modal
    [(nzVisible)]="modalVisivel"
    [nzTitle]=" editando ? 'EDITAR' : 'CADASTRAR'"
    (nzOnCancel)="cancel()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="form">
            <nz-form-item  *ngIf="editando">
                <nz-form-label nzSm="8">ID</nz-form-label>
                <nz-form-control nzSm="16">
                    <input nz-input formControlName="id" readonly/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSm="8" nzRequired>Origem</nz-form-label>
                <nz-form-control nzSm="16" nzErrorTip="Selecione uma origem válida!">
                    <nz-select
                        nzMode="default"
                        nzPlaceHolder="Selecione a origem"
                        formControlName="origemId"
                        nzAllowClear
                        nzShowSearch
                        nzServerSearch>
                        <nz-option *ngFor="let origem of listaDDDs" [nzValue]="origem.id" [nzLabel]="origem.nome"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSm="8" nzRequired>Destino</nz-form-label>
                <nz-form-control nzSm="16" nzErrorTip="Selecione um destino válido!">
                    <nz-select
                        nzMode="default"
                        nzPlaceHolder="Selecione o destino"
                        formControlName="destinoId"
                        nzAllowClear
                        nzShowSearch
                        nzServerSearch>
                        <nz-option *ngFor="let origem of listaDDDs" [nzValue]="origem.id" [nzLabel]="origem.nome"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSm="8" nzRequired>Valor por minuto (R$)</nz-form-label>
                <nz-form-control nzSm="16" nzHasFeedback [nzErrorTip]="valorPorMinErrorTpl">
                    <input nz-input formControlName="valorPorMin" placeholder="Valor por minuto" min="0" type="number" />
                    <ng-template #valorPorMinErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Informe um valor válido</ng-container>
                        <ng-container *ngIf="control.hasError('min')">Valor mínimo R$0,01</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
    <ng-container *nzModalFooter>
        <app-modal-footer
            [editando]="editando"
            [carregando]="carregando"
            [form]="form"
            (limparForm)="limpar($event)"
            (cadastrarForm)="cadastrar()"
            (salvarForm)="salvar()">
        </app-modal-footer>
    </ng-container>
</nz-modal>